In [2]:
ls ../input/nroman--melanoma-external-malignant-256

melanoma-external-malignant-256.zip  test/  train/  train_concat.csv

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('../output/MelPrp0630C1/train_all_dedup.csv')

In [6]:
df2 = pd.read_csv('../input/nroman--melanoma-external-malignant-256/train_concat.csv')

In [8]:
df.shape, df2.shape

((58032, 4), (37648, 6))

In [21]:
df.source.value_counts()

20    32701
19    25331
Name: source, dtype: int64

In [9]:
df.head()

,source,im_pth,patient_id,target
0,20,../output/MelPrp0630C1/siim-isic-melanoma-clas...,IP_7279968,0.0
1,20,../output/MelPrp0630C1/siim-isic-melanoma-clas...,IP_3075186,0.0
2,20,../output/MelPrp0630C1/siim-isic-melanoma-clas...,IP_2842074,0.0
3,20,../output/MelPrp0630C1/siim-isic-melanoma-clas...,IP_6890425,0.0
4,20,../output/MelPrp0630C1/siim-isic-melanoma-clas...,IP_8723313,0.0

In [10]:
df2.head()

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,target
0,ISIC_2637011,IP_7279968,male,45.0,head/neck,0
1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,0
2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,0
3,ISIC_0068279,IP_6890425,female,45.0,head/neck,0
4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,0

In [17]:
df['image_name'] = df.im_pth.apply(lambda x: x.split('/')[-1].split('.')[0])

In [18]:
df.columns

Index(['source', 'im_pth', 'patient_id', 'target', 'image_name'], dtype='object')

In [24]:
dfj = pd.merge(df[['source', 'image_name']], df2[['image_name','target']])

In [25]:
dfj.shape

(37223, 3)

In [26]:
dfj.source.value_counts()

20    32701
19     4522
Name: source, dtype: int64

In [27]:
dfj[dfj.source==19].target.value_counts()

1    4522
Name: target, dtype: int64

In [28]:
dfj[dfj.source==20].target.value_counts()

0    32120
1      581
Name: target, dtype: int64